/* Reset some default styles */
*{
    margin: 0px;
    padding: 0px;
}
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
#head {
    transition: all 0.2s;
    width: 100vw;
    position: fixed;
    background-color: rgba(4, 106, 4, 0.7); /* Set background color with transparency */
    z-index: 2;
    
    
}


#navbar {
    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo img {
    max-width: 50px; /* Set a maximum width for the logo */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px; /* Adjust spacing between links */
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: all 0.1s linear;
}

.nav-links a:hover {
    text-decoration: none;
    color: #025286;
}

@media (max-width: 768px) {
    
    .navbar {
        flex-direction: column; /* Stack items vertically on small screens */
        align-items: center; /* Center align items on small screens */
    }

    .nav-links {
        flex-direction: column; /* Stack links vertically on small screens */
        text-align: center;
        margin-top: 10px; /* Add some spacing between links */
    }

    .nav-links li {
        margin-right: 0; /* Remove right margin for links on small screens */
        margin-bottom: 10px; /* Add some vertical spacing between links */
    }
}
