*{
  text-decoration: none;
}
#bloger {
  width: 100vw;
  height: 20vh;
  background-color: #66c466;
  display: flex;
  align-items: center; /* Center content vertically */
  transform: translateY(1520%);
 
}

#rightblog {
  flex: 0.1; /* Take up remaining space */
  height: 20%;
  margin-right: 10%;
  background-color: #006600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  border: 0px;
  border-radius: 7%;
  color: wheat;
}
a{
  color: wheat;
}

#leftblog {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4; /* Take up remaining space */
  
  margin-left: 30%;
  height: 100%;
}

.container {
   transform: translateY(540%);
    text-align: center;
  }
  
  .heading {
    font-size: 44px;
    margin-bottom: 10px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    transform: translate(46%,5930%);
    font-weight: 600;
  }
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px; /* Set the desired height for the container */
    background: transparent; /* Optional background color */
    padding: 20px; /* Optional padding for spacing */
    color: aliceblue;
  }
  
  .horizontal-div {
    flex: 1;
    text-align: center;
    padding: 10px; /* Optional padding for spacing */
    background-color: #222222; /* Optional background color */
    margin-left: 10px;
    margin-right: 10px; /* Optional border for separation */
    border-radius: 5px; /* Optional border radius for styling */
    height: 70%;
  }
  
  .horizontal-div .under {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    margin-bottom: 50px; /* Set the desired height for the images */
  }
  
  .horizontal-div p {
    margin-top: 10px; /* Add spacing between image and text */
  }
  .horizontal-div img {
    width: 40px; /* Adjust the width as needed */
    height: auto;
    background-blend-mode: multiply;
    position: relative;
    top: 60%;
    left: 44%;
  }



@media (max-width: 768px) {
    .heading{
        transform: translateX(30%);
    }
    .container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center;
        min-height: auto; /* Reset the minimum height */
    }

    .horizontal-div {
        flex: 1;
        min-width: 100%; /* Expand to full width on smaller screens */
        margin: 10px 0; /* Adjust spacing between items */
    }
}
